{% extends "mainapp/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
    {% include 'ordersapp/includes/inc_order_summary.html' %}
    <div class="basket_list">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        {% for item in object.orderitems.select_related %}
            <tr>
<th>
            <div class="basket_record">

                <img style="height: 150px" src="{{ item.product.image.url }}"
                     alt="{{ item.product.short_desc }}">
{#            </th>#}
{#            <th>#}
                <span class="category_name">
                   {{ item.product.category.name }}
               </span>
                <span class="product_name">{{ item.product.name }}</span>
                <span class="product_price">
                    {% if item.product.discount %}
                    {{ item.get_product_cost  }}&nbspруб
                    {% else %}
                   {{ item.product.price }}&nbspруб
                    {% endif %}
               </span>
                <span class="product_quantitiy">
                   x {{ item.quantity }} шт.
               </span>
                <span class="product_cost">
                    = {{ item.get_product_cost }}&nbspруб
               </span>

            </div></th>
        {% endfor %}
        </tr>
    </table>
    </div>

    {% include 'ordersapp/includes/inc_order_actions.html' %}
        </div>
    </div>
</div>
{% endblock %}